<body>
	<script type="text/javascript" src="js/login.js"></script>

	<script id="login-form" type="text/x-handlebars-template">
		<form class="form">
			<fieldset>
				<legend>Authentication</legend>
				<div class="form-item">
					<label for="login">Login</label>
					<input type="text" name="login">
				</div>
				<div class="form-item">
					<label for="password">Password</label>
					<input type="password" name="password">
				</div>
				<ul class="button_list">
					<li><button class="button">Log-in</button></li>
				</ul>
			</fieldset>
		</form>
	</script>
</body>
